
body {background-color: white; background-image: none; margin: 0px; }
#main {background-color: white; }

#header {width: 98%; }
#masthead h1 {padding: 0; margin: 0; font-size: 26pt; } h1.sitetitle a.resource:visited {}
#header a img, #searchbox, .motto, #otherstuff, #endlinks {display: none; }

.sectionbox {font-family: Arial, Helvetica, sans-serif; }

#main {width: 98%; }
td#content {width: 99%; color: black; padding: 10px; border: none; }
#navigation {display: none; }
	
#content p, ul, ol, dl {font-family: Georgia, Times New Roman, serif; font-size: 11pt; text-align: left;  }
#content p.indent {border: 1px solid gray; }

h1.maintitle {font-family: sans-serif; font-weight: bold; margin: 0.5em 0 0 0; }
h2.heading {margin-top: 10px; }
hr.blue {margin-top: 3px; margin-bottom: 3px; }
	
#footer {display: none; }

#content a {font-family: Arial; }
a.nav2:link, a.nav2:visited {color: black; }
a#url {text-decoration: underline; }

.pagenavbox {display: none; border: 2px dashed black; }
h2.bg1, h2.bg2, h2.bg3, h2.bg4 {background-image: none; }


strong {color: black; }
pre.js {background: transparent; }

h1, h2, h3 {font-family: Verdana; font-weight: normal; }

table {background-color: white;}
